*{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  width: 100vw;
  background-color: rgb(247,205,116);
}
.card-cont{
  max-width: 50vw;
  height: 55vh;
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: white;
  margin: 8rem auto;
  overflow: hidden;
}
.wallet-sec{
  padding: 2rem 2rem;
  background-color: rgb(242,242,242);
  overflow: hidden;
}
.wallet-sec:hover{
  overflow: auto;
}  
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}
.title img{
  width: 1.5rem;
  height: 1.5rem;
}
.debit-cards{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5rem;
  padding: .5rem 1rem;
  background-color: rgb(255,255,255);
  width: 12rem;
  border-radius: 5px;
}
.debit-cards img{
  width: 3rem;
  height: 3rem;
}
.debit-cards span{
  padding-top: .6rem;
}
.transac-sec{
  overflow: hidden;
  padding: 2rem 2rem;
}
.transac-sec:hover{
  overflow: auto;
}
.balance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.balance span{
  font-size: 1.2rem;
}
.val-bal{
  font-weight: bold;
  font-size: 1.6rem;
}
.transactions{
  display: flex;
  align-items: center;
}
.transactions div:not(.icons){
  flex-grow: 1;
  margin-top: 2rem;
} 
.icons{
  margin-top: 2rem;
}
.transac-descp{
  margin-left: 1rem;
}
.transac-amount{
  margin-left: 1.3rem;
  color: rgb(134,151,198);
}
.plusAmount{
  color: rgb(137,206,94)
}
.minus-icon,.plus-icon{
  border-radius: 50%;
  border: 1px solid rgb(0,0,0, .2);
  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.minus-icon img{
  width: 15px;
}
.plus-icon img{
  width: 15px;
}
.transac-amount{
  text-align: right;
}
.sub-descp{
  display: block;
}
.transac-descp span:not(.sub-descp){
  font-weight: 600;
  font-size: 1.1rem;
}
.sub-descp{
  color: rgb(0,0,0, .4);
  font-size: .8rem;
  padding-top: .5rem;
}
.debit-cards:hover{
  border: 2px solid rgb(135,147,198);
}
